:root {
  --clr-primary: #F16232;
  --clr-white: #FFF;
  --clr-black: #000;
  --bg-clr-primary: #F8F8F8;
  --bg-clr-secondary: #F16232;
  --heading-clr: #43464B;
  --p-500: 1.25rem;
  --p-block-300: 0.75rem;
  --p-block-400: 1rem;
  --p-block-500: 1.5rem;
  --p-block-600: 2rem;


  --mb-100: 1rem;
  --mb-200: 1.5rem;
  --mb-300: 2rem;
  --mb-400: 2.5rem;
  --mb-500: 3rem;

  --mt-100: 1rem;
  --mt-200: 1.5rem;
  --mt-300: 2rem;
  --mt-400: 2.5rem;
  --mt-500: 3rem;
}
@font-face {
  font-family: "Brittany";
  src: url('Font/BrittanySignature-MaZx.woff');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #000; 
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
h1,h2,h3,h4 {
  color: var(--heading-clr);
}
/* ================ UTILITY CLASSES ================= */
.container {
  --max-width: 1300px;
  --padding: 1rem;
  max-width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}
.flex {
  display: flex;
}
.justify-sb {
  justify-content: space-between;
}
.justify-c {
  justify-content: center;
}
.align-c {
  align-items: center;
}
.fb-350 {
  flex-basis: 350px;
}
.fb-300 {
  flex-basis: 300px;
}
.gap-100 {
  gap: 1rem;
}
.gap-200 {
  gap: 2rem;
}
.height-full {
  height: 100%;
}
.bs-primary {
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bg-clr-primary {
  background-color: var(--bg-clr-primary);
}
.bg-clr-secondary {
  background-color: var(--bg-clr-secondary);
}
.pointer {
  cursor: pointer;
}
.center-text {
  text-align: center;
}
.even-columns {
  /* border: 1px solid black; */
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}
.child {
 
}
.p-500 {
  padding: var(--p-500);
}
.p-block-300 {
  padding-top: var(--p-block-300);
  padding-bottom: var(--p-block-300);
}
.p-block-400 {
  padding-top: var(--p-block-400);
  padding-bottom: var(--p-block-400);
}
.p-block-500 {
  padding-top: var(--p-block-500);
  padding-bottom: var(--p-block-500);
}
.p-block-600 {
  padding-top: var(--p-block-600);
  padding-bottom: var(--p-block-600);
}
.p-inline-400 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.p-inline-500 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.p-inline-700 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.mb-100 {
  margin-bottom: 1rem;
} 
.mb-200 {
  margin-bottom: 1.5rem;
} 
.mb-300 {
  margin-bottom: 2rem;
} 
.mb-400 {
  margin-bottom: 2.5rem;
} 
.mb-500 {
  margin-bottom: 3rem;
} 
.mt-100 {
  margin-top: 1rem;
} 
.mt-200 {
  margin-top: 1.5rem;
} 
.mt-300 {
  margin-top: 2rem;
} 
.mt-400 {
  margin-top: 2.5rem;
}
.mt-500 {
  margin-top: 3rem;
} 

/* ================ UTILITY CLASSES ================= */


.logo  {
  color: #FFF;
  font-family: "Brittany";
  font-size: 1.75rem;
  cursor: pointer;
}
.primary-header {
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: transparent;
}
.btn-primary {
  display: flex;
  align-items: center;
  gap: 3px;
  border: 0;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
  line-height: 20px;
}
.btn-primary-icon {
  width: 30px;
  height: 30px;
  fill: #FFF;
}

.card-img-box{
  width: 100%;
  height: 200px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heading-tertiary {
  font-size: 22px;
}
.heading-secondary {
  font-size: 36px;
}
.buttons-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
.btn-secondary {
  color: #fff;
  padding: 12px 0;
  flex: 1;
}


@media (max-width: 430px) {
  :root {
    --p-500: 0.75rem
  }
}
.btn-tertiary {
  width: 40px;
  height: 40px;
  fill: var(--clr-white);
  background-color: var(--bg-clr-secondary);
  border-radius: 20px;
  padding: 0.25rem;
}

.grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.item {
  padding: 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("Assets/Images/hero__image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFF;
}
.hero::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero__info {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-inline: 1rem
}
.hero__title {
  color: #FFF;
  font-size: 3.25rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}
.hero__des {
  font-size: 1.25rem;
}
.hero__des a {
  color: var(--clr-primary);
}
@media (max-width: 800px) {
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__des {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .hero__title {
    font-size: 2rem;
  }
  .hero__des {
    font-size: 1rem;
  }
}